

body{
    background-color: #EEEEEE;
    font-family: 'poppins' , sans-serif;
    overflow-x: hidden;
}

#sidebar-content{
    background-color: #07074D;
    height: 80rem;
    color: #fff;
    z-index: 99;
    width: 100%;
    transition: .3s;
}


span.close{
    visibility: hidden;
    cursor: pointer;
    position: absolute;
    right: 25px;
    top: 40px;
}

/* sidebar */
.header-img{
    float: left;
    margin-left: 10px;
    margin-top: -10px;
}



nav{
    
    background-color: #fff;
    height: 80px;
    margin-bottom: 80px;
    line-height: 70px;
    width: 101%;
    z-index: -10;
    margin-left: 0px;
    position: relative;

  
}

.content{
    position: absolute;
    right: 10px;
      
}

.nav-link{
    color: #07074D;
}

li.side-menu{
    background: none;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 10px;
    width: 100%;
    color: #B4B4FF;
    font-size: 16px;
    

}

li.side-menu a{
    color: #B4B4FF;
}

.active{
    color: #fff;
}

li.dash-menu:hover{
    background-color: #10106B;
}


.main-content{
    margin-left: 60px;
}


.card{
    border: 0;
    border-radius: 10px;
}

.img-card{
    font-size: 30px;
    padding: 20px;
    float: left;
}

.clearfix{
    display: table;
}

.card-icon{
    width: 30%;
   
   
}

.card-icon i{
   
    padding: 25px;
    border-radius: 200px;
    color: #fff;
    font-size: 36px;
}

.card-desc{
    width: 10rem;
}


/* list top user */

div.table{
    width: 96%;
    background: #fff;
    overflow: scroll;
    height: 300px;
    padding: 14px;
}


.nomor{
    color: #0808CB;
    padding: 8px 18px;
    border-radius: 5px;
    background-color: #E9E9FF;
    margin-right: 20px;
}

.badge{
    margin-left: 30px;
}
/* hamburger menu */

.menubar{
    height: 5px;
    width: 40px;
    margin-top: 8px;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    cursor: default;
    
}



#menu-toggler{
   
    display: none;
    background: none;
    width: 70px;
    height: 55px;
    pointer-events: auto;
    margin-top: 14px;
    cursor: pointer;
    
}



/* show sidebar */



@media screen and ( max-width:1300px){
    .img-card{
        font-size: 10px;
    }

    .header-name{
        visibility: hidden;
    }

  
/* 
    #sidebar-content{
        display: none;
    } */

    .main-content{
        margin-left: 40px;
    }

  
    .card-icon{
    
        display: none;
    }

    nav{
        z-index: 1;
    }

    span.side-menu{
        display: none;
    }
}

@media screen and ( max-width:768px){
    #menu-toggler{
        display: inline;
    }

    #sidebar-content{
        display: none;
        margin-left: -1000px;
    }

    nav{
        z-index: 1;
    }

    span.side-menu{
        display: inline-block;
    }

    .content-main{
        margin-left: 0;
    }

 

  
}

@media screen and ( max-width:480px){
    .user{
        font-size: 14px;
    }
    
    .badge{
        display: none;
    }

    .nomor{
        margin-right: 8px;
    }

    span.side-menu{
        display: inline-block;
    }
}



